@import 'utilities/citybook_vars',
		'utilities/mixins',
		'utilities/helpers';

@import 'citybook/components',
        'citybook/image_library',
		'citybook/header',
		'citybook/dashboard';

.info-button:hover, .footer-social li a, .lost_password a:hover, .nav-holder nav li a.act-link, .nav-holder nav li a:hover, .testi-text:before, .testi-text:after, #footer-twiit .timePosted a:before, .map-popup-location-phone i, .map-popup-location-info i, .dark-header .nav-holder nav li ul a:hover, .main-register h3 span strong, .main-register label i, .listsearch-header h3 span, .listing-view-layout li a.active, .listsearch-input-text label i, .distance-title i, .listsearch-input-item i, .filter-tags input:checked:after, .more-filter-option:hover, .distance-title span, .selectbox li.selected, .mapzoom-in:hover, .mapzoom-out:hover, .footer-widget .widget-posts-date, .listsearch-input-text span.loc-act, .list-single-header-contacts li i, .viewed-counter i, .list-single-header-column .custom-scroll-link i, .list-single-header-cat span i, .scroll-nav-wrapper .scroll-nav li a.act-scrlink, .listing-features li i, .list-author-widget-contacts li span i, .list-author-widget-contacts li a:hover, .current-status i, .scroll-nav-wrapper .save-btn i, .list-single-contacts li i, .list-post-counter.single-list-post-counter i, .reviews-comments-item-date i, .list-single-main-item-title span, .custom-form label i, .custom-form .quantity span i, .box-widget.widget-posts .widget-posts-date i, .box-widget.widget-posts .widget-posts-descr a:hover, .team-social li a, .team-info h3 a:hover, .section-title h2 a, section.color-bg .header-sec-link a:hover, .user-profile-menu li a.user-profile-act, .user-profile-menu li a:hover, .log-out-btn, .pass-input-wrap span, .header-user-name:before, .header-user-menu ul li a:hover, .reply-mail a, .dashboard-message-text h4 span, .profile-edit-page-header .breadcrumbs span, .profile-edit-page-header .breadcrumbs a:hover, .reviews-comments-item-link, .fuzone:hover .fu-text i, .radio input[type="radio"]:checked + span:before, .booking-details a, .booking-details span.booking-text, .dashboard-listing-table-address i, .post-opt li i, .list-single-main-item-title h3 a:hover, .post-opt li a:hover, .post-link i, .post-link:hover, .tl-text i, .tl-text h3, .features-box .time-line-icon i, .features-box h3, .images-collage-title span, .process-item .time-line-icon i, .card-post-content h3 a:hover, .card-listing .list-post-counter i, .section-subtitle, .process-item:hover .process-count, .footer-contacts li i, .main-search-input-item.location a, .card-listing .geodir-category-location i, .show-reg-form:hover, .show-search-button i, .menusb li a i, .menusb a.back:before, .menusb a.act-link, .sp-cont, .list-single-tags a:hover, .card-listing .geodir-category-content h3 a:hover, #footer-twiit a:hover, .subscribe-message.error a, .share-holder.hid-share .share-container .share-icon, .footer-contacts li a:hover, .listing-title a:hover {
    color: $color-primary;
}

.navslide-wrap, .slide-progress, nav li a.act-link:before, .hs-nav .navslide-wrap.next-slide-wrap a, .folio-counter, .add-list, .section-separator:before, .listing-carousel-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active, .card-btn:hover, .footer-widget #subscribe-button, .custom-form .log-submit-btn, .add-list, .parallax-section .section-separator:before, .sw-btn, .color-bg, .mapzoom-in, .mapzoom-out, .infoBox-close, .close-reg, .header-search-button, .listing-view-layout li a, .listsearch-input-item .selectbox, .rangeslider__fill, .fs-map-btn, .more-filter-option span, .back-to-filters, .back-to-filters span, .pin, .load-more-button, .footer-menu li:before, .pagination a.current-page, .pagination a:hover, .section-title .breadcrumbs a:before, .showshare, .scroll-nav-wrapper .scroll-nav li a:before, .list-single-main-wrapper .breadcrumbs, .list-widget-social li a, .btn.transparent-btn:hover, .btn.flat-btn, .accordion a.toggle.act-accordion, .custom-form .quantity input.qty, .widget-posts-link span, .box-item a.gal-link, .custom-form .selectbox, .photoUpload, .user-profile-menu li a span, .tabs-menu li.current a, .tabs-menu li a:hover, .header-social li a:hover, .main-search-button, .selectbox li:hover, .color-overlay, .trs-btn, .testi-counter, .to-top, .header-sec-link a, .card-btn, .profile-edit-page-header .breadcrumbs a:before, .dashboard-listing-table-opt li a.del-btn, .search-widget .search-submit, .box-widget-item .list-single-tags a, .reviews-comments-item-text .new-dashboard-item:hover, .step-item, .video-box-btn, .slick-dots li.slick-active button, .time-line-container:before, .error-wrap form .search-submit, .testimonials-carousel .slick-current .testimonilas-text, .cs-social li a, .cs-countdown-item:before, .listing-counter, .price-head, .price-link, .sp-cont:hover, .cluster div, .lg-actions .lg-next, .lg-actions .lg-prev, .log-out-btn:hover, .map-popup-category, .mapnavigation a:hover {
    background: $color-secondary;
}

/* GENERAL ===============*/

body {
    background: $color-primary;
}

.section-title h2 {
    color: $color-primary !important;
}

nav li a {
    color: $color-nav-links;
}

.theError.slim {
    height: 80px;
    border-bottom: solid 4px;
    background: #fff;
    padding: 25px 35px;
    display: block;
    box-shadow: 0px 0px 100px #00000038;
    .icon {
        float: right;
        i {
            font-size: 30px;
        }
    }
}

.bigwhite {
	background: #fff;
    padding: 30px 0px 60px 0px;
	text-align: left;
	.headspace {
		padding-top: 80px;
	}
}

.headspace {
	padding-top: 80px;
}

.error_msg {
    display: none;
    margin-top: 15px;
    color: #f54040 !important;
}

p.success {
    margin-top: 15px;
    color: #48ad43;
}

.ml {
	text-align: left;
}

h1.ml {
    color: #566985;
    font-size: 34px;
    font-weight: 700;
    margin: 20px 0px;
}

h2.ml {
    font-size: 26px;
    margin: 10px 0px 40px 0px;
    color: #7b8ca6;
}

h3.ml {
    font-size: 20px;
    padding: 20px 30px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #666;
    border-bottom: 1px solid #eee;
}

.breadcrumbs {
	.currentTab {
		color: #4DB7FE;
	}
	a:last-child:before {
		background: #F8FBFE;
	}
}

li.passwordli {
	display: none;
}

.spinBox {
    width: 100%;
    height: 100px;
    background: url(/static/img/useful/91.gif) no-repeat 50% 50%/30px;
}

.dashboard-list {
    width: 100%;
}

.pagination {
    margin-bottom: 25px;
	li {
		display: inline-block;
		&.active {
			a {
				background: #4DB7FE;
				color: #fff;
			}
		}
	}
}

.modal {
	background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 15;
}

.add-list {
    cursor: pointer;
}

.reply-mail {
	cursor: pointer;
}

#replyModal {
	display: none;
}

.main-reply-wrap {
	background: #fff;
    width: 95%;
    max-width: 600px;
    margin: 135px auto;
    overflow: auto;
    border-radius: 6px;
    text-align: left;
    position: relative;
    textarea {
    	margin-bottom: 10px;
    }
    .custom-form {
	    padding: 0px 25px 25px;
	    button {
    	    margin-top: 5px;
	    }
    }
}

.close-reg {
	text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.listsearch-input-wrap {
    margin-top: 0px;
    button {
        margin-top: 25px;
    }
}

/* HEADER =======================================================*/

.main-header {
    height: 85px;
}

.dark-header {
    background: #fff;
    border-top: solid 3px lighten($color-primary, 15%);
    border-bottom: solid 3px #00000024;
    .nav-holder nav li a {
        color: $color-nav-links;
    }
    .show-reg-form {
        color: $color-nav-links;
    }
}

.bell-notify i {
    font-size: 22px;
    color: $color-nav-links;
}

/*.header-search-select-item {
    height: 35px;
}

.header-search-button {
    height: 35px;
    line-height: 1;
}

.header-search-input-item input,
.header-search-select-item input {
    width: 215px;
    height: 35px;
    border: none;
    padding: 15px;
}

.vis-header-search {
    top: 22px;
}*/

/* HOME ==================*/

/*.header-search-select-item input {
	border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    float: left;
    width: 130px;
}
*/
.main-search-input-item {
	@media(min-width: $medium){
		width: 50%;
	}
}

.YeahAutocomplete_list {
	margin-top: 50px;
    width: 100%;
    border: none;
	li {
	    padding: 10px 20px !important;
        &.focused {
            background: lighten(#2f3b59, 20%);
            color: #fff;
        }
	    &:hover {
	    	background: #2f3b59;
	    }
	}
}

.yac_loading {
	background: #ffffff url(/static/img/useful/91.gif) no-repeat 95% 50% !important;
	background-size: 24px !important;
}

#industry {
    border-radius: 100% 0% 0% 100%;
    & + .YeahAutocomplete_list {
	    
    }
    @media(min-width: $medium){
		& + .YeahAutocomplete_list {
		    margin-top: 50px;
		    margin-left: 25px;
		    width: calc(100% - 25px);
	    }
	}
}

/*header {
    #industry + .YeahAutocomplete_list {
        margin-top: 35px;
        margin-left: 14px;
    }
    #town + .YeahAutocomplete_list {
        margin-top: 0px;
    }
}*/

.main-register h3 {
	margin-bottom: 0px;
}

#error p {
	color: #f85a5a;
}

/* CLAIM =================*/

#page-claim {
	h1 {
		text-align: center;
	}
}

.bghero {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/static/img/town1.jpeg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 95px 0px 60px 0px;
    transition: 0.3s;
    h1 {
    	color: #fff;
    	margin: 40px 0px;
    	font-size: 38px;
    }
    &.smaller {
    	h1 {
    		display: none;
    	}
	    padding: 100px 0px 15px 0px;
    }
    @media(min-width: $medium){
		padding: 95px 0px 60px 0px;
	}
}

.hearoSearch input {
	font-size: 18px;
    font-family: Quicksand, sans-serif;
    width: 90%;
    max-width: 565px;
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    background: #fff url(/static/img/icons/search-black.png) no-repeat 95% 50%/22px;
}

.cfb {
    color: #fff;
    font-size: 18px;
    margin-top: 25px;
    a {
    	color: #fff;
    	text-decoration: underline;
    	font-weight: bold;
    }
}

/* Listings Page =================*/

.listing-view-layout li a i {
    font-size: 16px;
    margin-top: 11px;
}

.list-main-wrap {
    padding-top: 0px;
}

#searchResults {
    width: 100%;
    min-height: 50px;
    &.loading {

    }
}

.card-listing {
    .listing-avatar {
        top: -65px;
        width: 120px;
        height: 120px;
        background: white;
        border-radius: 100%;
        img {
            width: 120px;
            height: 120px;
            object-fit: contain;
        }
    }

    .geodir-category-img img {
        background: #ccc;
        height: 220px;
        object-fit: cover;
    }
}

.listing-item.list-layout .listing-avatar {
    width: 100px;
    height: 100px;
    margin-top: -100px;
    img {
        width: 100px;
        height: 100px;
    }
}

.fa-angle-double-up {
    margin-top: 14px;
}

.map-popup {
    img {
        height: 160px;
        object-fit: cover;
    }
    .fa-times {
        margin-top: 10px;
    }
}

.list-single-main-media img {
    width: 100%;
    height: 100%;
}

.slick-slide {
    height: 290px;
    img {
        object-position: center;
        object-fit: contain;
    }
    @media(min-width: $small){
        height: 335px;
    }
    @media(min-width: $medium){
        height: 420px;
    }
}

.slick-list {
    background: #ecf4fa;
}

.swiper-button-prev,
.swiper-button-next {
    i {
        margin-top: 15px;
    }
}

i.fa-search {
    margin-top: 12px;
}

.list-widget-social i {
    margin-top: 12px;
}

/* header search ============*/

.show-search-button {
    @media(min-width: $large){
        display: none;
    }
}

.ml-search {    
    display: none;
    position: fixed;
    background: #000000ba;
    top: 0px;
    height: 100vh;
    width: 100%;
    left: 0px;
    padding: 20px;
    z-index: 1;
    input, button {
        width: 100%;
        max-width: 470px;
        @media(min-width: $large){
            max-width: 230px;
            &#industry {
                border-radius: 30px 0px 0px 30px !important;
            }
            &#town {
                border-radius: 0px !important;
                margin-left: 2px;
            }
        }
    }
    input {
        box-shadow: 0px 0px 0px 4px #f2f2f2;
        border-radius: 5px !important;
        font-size: 18px;
        padding: 10px 20px;
        margin-bottom: 10px;
        border: none;
    }
    button {
        box-shadow: 0px 0px 0px 4px lighten($color-secondary, 15%);
        float: none;
        position: relative;
        border-radius: 5px;

    }
    .YeahAutocomplete_list {
        width: 84%;
        max-width: 460px;
        left: 0px;
        right: 0px;
        margin: -10px auto 0px auto;
    }
    .close {
        text-align: right;
        margin-bottom: 10px;
        i {
            color: #4db7fe;
            font-size: 30px;
            border-radius: 100%;
            padding: 0px;
        }
    }
    @media(min-width: $large){
        display: inline-block;
        position: relative;
        height: auto;
        width: 595px;
        background: none;
        #industry + .YeahAutocomplete_list {
            margin-top: 41px;
            margin-left: 40px;
            width: 230px;
        }
        #town + .YeahAutocomplete_list {
            margin-top: 41px;
            margin-left: 252px;
            width: 230px;
        }
        .close {
            display: none;
        }
        input {
            float: left;
        }
        button {
            border-radius: 0px 30px 30px 0px;
            max-width: 90px;
            display: inline-block;
            float: left;
            height: 41px;
        }
    }
}

.link-to-listing {
    position: fixed;
    color: #2f3b59;
    bottom: 30px;
    z-index: 3;
    background: #ececec;
    left: 30px;
    font-size: 18px;
    padding: 10px 15px;
    border: solid 2px #4db7fe;
    border-radius: 5px;
}

.profile-edit-container {
    h2.ml {
        margin: 10px 0px 20px 0px;
    }
    h3.ml {
        padding: 10px 0px;
    }
}

.view-listing {
    font-size: 14px;
    /*text-decoration: underline;*/
    margin-bottom: 15px;
    display: inline-block;
    color: #4db7fe;
    font-weight: bold;
}

.custom-form textarea {
    margin-bottom: 20px;
}

.theside {
    &.fixed {
        position: fixed;
    }
}

.inline_btn {
    width: 68px;
    height: 47px;
    font-size: 22px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}

#services {
    margin-bottom: 20px;
    li {
        width: 48%;
        display: inline-block;
        border-bottom: solid 1px #bedff5;
        padding-bottom: 5px;
        margin-right: 1%;
        margin-bottom: 15px;
        i {
            float: right;
            background: #4db7fe;
            border-radius: 100%;
            padding: 4px;
            width: 22px;
            height: 22px;
            text-align: center;
            cursor: pointer;
            color: #fff;
        }
    }
}

.opening_times {
    text-align: left;
    .thlabel {
        padding-right: 15px;
    }
    input {
        margin-right: 15px;
        border-radius: 5px;
        border: solid 1px #ccc;
        font-size: 16px;
        padding: 5px 10px;
    }
    .open_col,
    .close_col {
        padding-bottom: 5px;
        font-weight: bold;
    }
}

.img_box {
    position: relative;
    display: inline-block;
    transition: all 300ms linear;
    cursor: pointer;
    &:before {
        content: '';
        top: 0px;
        left: 0px;
        background: rgba(51,51,51,0);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: all 300ms linear;
    }
    i {
        transition: all 300ms linear;
        font-size: 28px !important;
        left: 0px !important;
        right: 0px;
        top: 0% !important;
        opacity: 0;
        text-align: center;
        padding: 6px !important;
        background: #4db7fe;
        color: #fff !important;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }
    &:hover:before {
        background: rgba(51,51,51,0.41);
    }
    &:hover i {
        top: calc(50% - 28px) !important;
        opacity: 1;
    }
}

.uploaded_img {
    max-width: 100%;
    max-height: 330px;
    border-radius: 5px;
}

#addGalleryImgBtn {
    border-radius: 5px;
    .inline_btn {
        background: #4db7fe;
        display: inline-block;
        height: 35px;
    }
    i {
        display: inline-block;
        color: #fff;
        margin-top: 7px;
    }
    span {
        vertical-align: top;
        margin-top: 6px;
    }
}

.gallery {
    li {
        display: inline-block;
        width: 100%;
        background: #f3f3f3;
        border-radius: 5px;
        border: solid 1px #eaeaea;
        margin-bottom: 20px;
        vertical-align: top;
        img {
            width: 100%;
            border-radius: 5px;
        }
        @media(min-width: $medium){
            width: 30%; 
            margin-right: 2%;   
        }
    }
}

.profile-edit-container {
    ul li {
        clear: both;
    }
    .YeahAutocomplete_list {
        margin-top: 72px;
    }
}

.listing-item-cat h3 {
    font-size: 41px !important;
    margin-bottom: 15px !important;
    margin-left: 15px !important;
}

.listsearch-options {
    padding: 50px 10px 30px 10px;
}

.fa-bell .num {
    background: #ff6256;
    border-radius: 100%;
    position: absolute;
    width: 14px;
    height: 14px;
    color: #fff;
    line-height: 1.1em;
    top: 0px;
    right: 0px;
}

/* location page ======================*/

.location-page-search {
    max-width: 550px;
    width: 100%;
    .main-search-input-item {
        width: 100%;
    }
}

.ml_section {
    padding: 0px;
    nav {
        li {
            display: inline-block;
            a {
                font-size: 16px;
                padding: 20px 25px;
                display: inline-block;
                font-weight: bold;
                &:hover {
                    background: #42254f;
                    color: #fff;
                }
            }
        }
    }
}