/* MIXINS */

@mixin coverimg {
	object-fit: cover;
    object-position: center;
}

@mixin overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0px;
    z-index: $zindex-modal-backdrop;
}

@mixin textoverlay {
	position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7215686274509804));
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    text-shadow: 2px 2px #000;
    width: 100%;
}

@mixin fullwidthfixed {
    position: fixed;
    width: 100%;
    z-index: 5;
    left: 0px;
}

@mixin indentbox {
    padding: 10px;
    background: #f4f4f4;
    box-shadow: inset 2px 2px 10px #3333330f;
    border: solid 1px #e1e1e1;
}

@mixin beforeoverlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

@mixin scrollbar {
    &::-webkit-scrollbar { width: 10px; }
    &::-webkit-scrollbar-button { background: $color-grey-dark; border-radius: 5px; }
    &::-webkit-scrollbar-track { background: $color-grey-light; }       /* 3 */
    &::-webkit-scrollbar-track-piece { 
        background: $color-grey-light;
    } /* 4 */
    &::-webkit-scrollbar-thumb { background: $color-grey-medium; border-radius: 5px; }       /* 5 */
    &::-webkit-scrollbar-corner {}      /* 6 */
    &::-webkit-resizer { background: black; }               /* 7 */
}

$checkered-size: 30px;

@mixin checkered {
    background-image:
        -moz-linear-gradient(45deg, #000 25%, #fff 25%), 
        -moz-linear-gradient(-45deg, #000 25%, #fff 25%),
        -moz-linear-gradient(45deg, #fff 75%, #000 75%),
        -moz-linear-gradient(-45deg, #fff 75%, #000 75%);
    background-image:
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $color-grey-light), color-stop(.25, transparent)), 
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, $color-grey-light), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, $color-grey-light)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, #fff), color-stop(.75, $color-grey-light));
    -moz-background-size: $checkered-size $checkered-size;
    background-size: $checkered-size $checkered-size;
    -webkit-background-size: $checkered-size $checkered-size + 1; /* override value for shitty webkit */
    background-position:0 0, ($checkered-size / 2) 0, ($checkered-size / 2) ($checkered-size - ($checkered-size / 2)), 0px ($checkered-size / 2);
}