.container-fluid
	h1
		a(href="/") MyLocal
	if !home
		.searchBox
			input(type="text" placeholder="Find a...")#industry
			input(type="text" placeholder="In...")#town
			button#hFind Find
	.icon-search
	.burger
		div
		div
		div
	ul.menu_main
		if user
			if !user.listing
				if user.user_role != 'Admin' && user.user_role != 'Super Admin'
					li
						a(href="/listing") Claim FREE Listing
					li
						a(href="/dashboard") Dashboard
			else
				li
					a(href="/listing") Your Listing
				li
					a(href="/dashboard") Dashboard
			li
				a(href="/logout") Logout
			li
				a(href="/dashboard/notifications").icon.icon-bell
					if user.notifications
						.num user.notifications.length
		else
			li
				a(href="/login") Login
			li
				a(href="/register") Register