extends ../layout

block content

	header.full.fixed
		include ../partials/header

	.bigWhite
		.container
			h1.spaced Dashboard

			include _nav

			button send email

	script(src="http://code.jquery.com/jquery-latest.js")
	script(src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(src="/static/js/helpers/form.js")
	script(src="/static/js/dashboard/dashboard.js")
	script(src="/static/js/main.js")
	script(src="/static/js/test.js")