extends ../layout

block content

	#wrapper
		.bigwhite
			.container
				h1.ml Dashboard

				include ./_nav

				.row
					.col-md-3
						include ./_side
					.col-md-7
						// profile-edit-container
						.profile-edit-container

							p Waistcoat sartorial meggings, kinfolk portland messenger bag quinoa gentrify. Brunch twee deep v affogato mixtape literally semiotics art party four loko normcore typewriter. Fingerstache mlkshk offal ugh.

							p Occupy jianbing cold-pressed, hell of fashion axe synth vice truffaut yr. YOLO gentrify leggings lyft forage fingerstache

	script(type="text/javascript" src="/static/js/citybook/jquery.min.js")
	script(type="text/javascript" src="/static/js/citybook/plugins.js")
	script(type="text/javascript" src="/static/js/citybook/scripts.js")
	script(type="text/javascript" src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(type="text/javascript" src="/static/js/main.js")
	script(type="text/javascript" src="/static/js/dashboard/dashboard.js")