extends ../layout

block content

	#page-claim
		.bghero.headspace
			.container
				.heroSearch
					h1.ml Search for your business to see if your allready listed
					.hearoSearch
						input(type="text", placeholder="Start typeing the name of your business...")#inputListing
							//- button#find Find Your Business
					p.cfb Cant find your business? 
						a(href="/listing/add") Add your listing here
		section.bigWhite
			.container
				#searchResults
				//- .row
				//- 	.col-sm-4
				//- 		#theError
				//- 			p
				//- 		.panel
				//- 	.col-sm-8
				//- 		#searchResults
	a.to-top
		i.fa.fa-angle-up

	script(type="text/javascript" src="/static/js/citybook/jquery.min.js")
	script(type="text/javascript" src="/static/js/citybook/plugins.js")
	script(type="text/javascript" src="/static/js/citybook/scripts.js")
	script(type="text/javascript" src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(type="text/javascript" src="/static/js/main.js")
	script(type="text/javascript" src="/static/js/claim.js")