extends layout

block content

	#wrapper
		.content

	include ./partials/_login

	a.to-top
		i.fa.fa-angle-up

	script(type="text/javascript" src="/static/js/citybook/jquery.min.js")
	script(type="text/javascript" src="/static/js/citybook/plugins.js")
	script(type="text/javascript" src="/static/js/citybook/scripts.js")
	script(type="text/javascript" src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(type="text/javascript" src="/static/js/helpers/form.js")
	script(type="text/javascript" src="/static/js/main.js")
	script(type="text/javascript" src="/static/js/home.js")