extends layout

block content

	header.full
		include ./partials/header

	#page-login
		.bigBg
			.container
				h1.big_white_h1 Welcome, please login or if you dont have an account, 
								a(href="/register") Sign Up Here
				.row
					.col-sm-6
						.panel
							h2 Login
							form(action="/login" method="post")
								label Email
								input(type="text" name="email" class=yeah ? theUser.name : '')
								label Password
								input(type="password" name="password")
								span Don't have an Account?
									a(href="/register")  Sign up Here
								button(type="submit") Enter
							#error #{error}

	script(src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(src="/static/js/main.js")