extends ../layout

block content

	header.full
		include ../partials/header

	.pictureHeader
		.container
			h1 Add Listing

	.bigWhite
		.container#page-addlisting
			.row
				.col-sm-7
					.form
						h2 General
						ul.list
							li
								label Business Name
								input(type="text")#q_business_name
							li
								label About  
								textarea#q_description
							li
								label Industry
								input(type="text")#q_industry
						h2 Services
						ul.list
							li
								label Add Service
								input(type="text").inline_btn#q_services
								.btn +
						ul#services
						h2 Address
						ul.list
							li
								label Line one
								input(type="text")#q_address_lineone
							li
								label Line two
									i - optional
								input(type="text")#q_address_linetwo
							li
								label City/Town
								input(type="text")#q_town
							li
								label Postcode
								input(type="text")#q_postcode
						h2 Contact
						ul.list
							li
								label Phone
								input(type="text")#q_phone
							li
								label Email
								input(type="text")#q_email
							li
								label Website
								input(type="text")#q_website
						h2 Opening Hours
						table
							tr
								th.thlabel
								th.open_col.pad Open
								th.close_col.pad Close
							tr
								th.thlabel Monday
								td.open_col
									input(type="time", value="00:00")#q_mon_open
								td.close_col
									input(type="time", value="00:00")#q_mon_close
							tr
								th.thlabel Tuesday
								td.open_col
									input(type="time", value="00:00")#q_tues_open
								td.close_col
									input(type="time", value="00:00")#q_tues_close
							tr
								th.thlabel Wednesday
								td.open_col
									input(type="time", value="00:00")#q_wed_open
								td.close_col
									input(type="time", value="00:00")#q_wed_close
							tr
								th.thlabel Thursday
								td.open_col
									input(type="time", value="00:00")#q_thurs_open
								td.close_col
									input(type="time", value="00:00")#q_thurs_close
							tr
								th.thlabel Friday
								td.open_col
									input(type="time", value="00:00")#q_fri_open
								td.close_col
									input(type="time", value="00:00")#q_fri_close
							tr
								th.thlabel Saturday
								td.open_col
									input(type="time", value="00:00")#q_sat_open
								td
									input(type="time", value="00:00")#q_sat_close
							tr
								th.thlabel Sunday
								td.open_col
									input(type="time", value="00:00")#q_sun_open
								td.close_col
									input(type="time", value="00:00")#q_sun_close
						h2 Social
						ul.list
							li
								label Facebook
								input(type="type")#q_fb.fb
							li
								label Twitter
								input(type="type")#q_tw.tw
							li
								label Instagram
								input(type="type")#q_ig.ig
							li
								label Google Plus
								input(type="type")#q_gp.gp
							li
								label YouTube
								input(type="type")#q_yt.yt
							li
								label Linked In
								input(type="type")#q_li.li
							li
								label Pinterest
								input(type="type")#q_pi.pi

						h2 Branding
						ul.list.branding_edit
							li
								label#logo_upload
									p Upload Logo
									img(src="/static/img/raster.png")#q_logo
							li
								label#bg_upload
									p Upload Background
									img(src="/static/img/raster.png")#q_bgimage
						h2 Gallery
						.galleryBox
							.btn-icon#addGalleryImgBtn
								span.icon.icon-plus
								span Add Gallery Image
							ul#gallery.gallery.gallery-edit

						h2 Terms &amp; Conditions

						.termsBox
							p Hella pinterest banh mi readymade fingerstache. Occupy flexitarian health goth hexagon mumblecore banjo schlitz cred cornhole raclette, stumptown trust fund. Taxidermy street art organic, bespoke taiyaki pok pok 90's banjo vinyl distillery succulents meh. Coloring book offal activated charcoal, 8-bit lomo you probably haven't heard of them four loko jean shorts hexagon glossier vinyl small batch trust fund put a bird on it. Migas flexitarian meh selvage glossier farm-to-table bitters. Tote bag godard air plant, trust fund affogato butcher scenester tumeric selvage etsy vexillologist kickstarter. Taxidermy twee edison bulb pok pok af aesthetic.

							p Poke tousled umami bitters, tofu banh mi cold-pressed locavore aesthetic selfies pinterest shabby chic polaroid. VHS sartorial vaporware small batch green juice activated charcoal cred iceland. Vegan cliche jean shorts 3 wolf moon. Unicorn quinoa gluten-free butcher. Fingerstache seitan thundercats vexillologist migas tbh kickstarter iceland. Adaptogen migas disrupt, flexitarian banjo subway tile forage microdosing VHS roof party shabby chic tousled. Put a bird on it butcher gluten-free irony, fanny pack YOLO portland kickstarter prism bushwick.

							p La croix photo booth hella chicharrones banh mi drinking vinegar vexillologist kinfolk. Direct trade bicycle rights gluten-free everyday carry sustainable pok pok letterpress fingerstache. Prism franzen celiac scenester heirloom, twee kickstarter poutine af tumblr unicorn next level. Snackwave quinoa master cleanse small batch. Pabst enamel pin VHS health goth semiotics try-hard affogato bespoke hell of, keytar 3 wolf moon cardigan occupy farm-to-table. Neutra fixie post-ironic enamel pin, hella sartorial la croix portland pour-over.


						input(type="checkbox")#terms_check
						label(for="terms_check") Confirm that you are the owner of this business
						button(disabled="true")#addBtn Add Listing
						#datayeah(style="display: none", data-userid=`${user._id}`)

	#theError.slim
		p

	#image_library_modal
		#image_library
			.header
				h1 Image Library
				label(for="uploadImgBtn").uploadBtn Upload Image
				input(type="file", name="imglib_image").btn.nobg#uploadImgBtn 
			.prog_wrap
				.progress-bar
			.imgWindow
				ul.images
				.message Select Image

	script(src="http://code.jquery.com/jquery-latest.js")
	script(src="/static/js/helpers/utils.js")
	script(src="/static/js/helpers/form.js")
	script(src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(src="/static/lib/image_library/image_library.js")
	script(src="/static/js/main.js")
	script(src="/static/js/listings/model.js")
	script(src="/static/js/listings/listing.js")