.yeahEditor
	.toolbar
		button(data-command='undo')
			i.fa.fa-undo
		button(data-command='redo')
			i.fa.fa-repeat
		.fore-wrapper
			i.fa.fa-font(style='color:#C96;')
			.fore-palette
		.back-wrapper
			i.fa.fa-font(style='background:#C96;')
			.back-palette
		button(data-command='bold')
			i.fa.fa-bold
		button(data-command='italic')
			i.fa.fa-italic
		button(data-command='underline')
			i.fa.fa-underline
		button(data-command='strikeThrough')
			i.fa.fa-strikethrough
		button(data-command='justifyLeft')
			i.fa.fa-align-left
		button(data-command='justifyCenter')
			i.fa.fa-align-center
		button(data-command='justifyRight')
			i.fa.fa-align-right
		button(data-command='justifyFull')
			i.fa.fa-align-justify
		button(data-command='indent')
			i.fa.fa-indent
		button(data-command='outdent')
			i.fa.fa-outdent
		button(data-command='insertUnorderedList')
			i.fa.fa-list-ul
		button(data-command='insertOrderedList')
			i.fa.fa-list-ol
		button(data-command='h1') H1
		button(data-command='h2') H2
		button(data-command='createlink')
			i.fa.fa-link
		button(data-command='unlink')
			i.fa.fa-unlink
		button(data-command='insertimage').txtImg
			i.fa.fa-image
		button(data-command='p') P
		button(data-command='subscript')
			i.fa.fa-subscript
		button(data-command='superscript')
			i.fa.fa-superscript
	if post
		.editor(contenteditable='') !{post.body}
	else
		.editor(contenteditable='')
			h1 Post Content Editor
			p Try making some changes here. Add your own text or maybe an image.