extends ../layout

block content
	
	header
		nav
			ul.list.nav
				li
					a(href="/logout") Logout

	section#page-blog
		include ../partials/side

		.main
			h1 Blog
			ul.bread-crumb
				li
					a(href="/admin/blog") All Posts
				li
					span &#x2192;
				li
					a(href="/admin/blog/add").current New Post

			.form.the60
				label.break Title
				input(type="text")#q_title
				span.slug Post URL 
				span.slug#slug
				include ../partials/editor
				.btn#save Save Post
			.form.the40
				ul
					li
						label.break Featured Image
						.file_upload_box.featured_img
							img(src="/static/img/admin/landscape-image.png")#q_featimg
				label.break Tags
				.relative
					input(type="text")#tags_input.inputPlus
					.btn + 
				#tags.tags_ul
					//- span dreamcatcher
					//- 	span.x x
					//- span blog poke
					//- 	span.x x
					//- span Cred quinoa
					//- 	span.x x
					//- span Brooklyn
					//- 	span.x x
					//- span snackwave
					//- 	span.x x

	#image_library_modal
		#image_library
			.header
				h1 Image Library
				label(for="uploadImgBtn").uploadBtn Upload Image
				input(type="file", name="imglib_image").btn.nobg#uploadImgBtn 
			.prog_wrap
				.progress-bar
			.imgWindow
				ul.images
				.message Select Image

	script(src="http://code.jquery.com/jquery-latest.js")
	script(src="/static/js/helpers/accordian.js")
	script(src="/static/js/helpers/message.js")
	script(src="/static/js/helpers/form.js")
	script(src="/static/js/helpers/popup.js")
	script(src="/static/js/admin/admin.js")
	script(src="/static/lib/image_library/image_library.js")
	script(src="/static/js/helpers/yeahtexteditor.js")
	script(src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(src="/static/js/admin/blog.js")