.bigWhite {
	background: #fff;
    padding: 15px 0px 50px 0px;
    @media (min-width: $medium){
        padding: 30px 0px 50px 0px;
    }
}

.bigBlue {
	background: url($business_two) no-repeat 0% 0%;
    padding: 60px 0px;
    background-size: cover;
    @media(min-width: $medium){
    	height: 490px;
    	.callToAction {
    		width: 320px;
    	}
    }
    @media(min-width: $medium){
    	height: 675px;
    	.callToAction {
    		width: auto;
    	}
    }
}

.bigBg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url($business_one) no-repeat 50% 50%/cover;
}

.pictureHeader {
    padding: 85px 0px 35px 0px;
    h1 {
        color: #fff;
    }
}

#adminLink {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    padding: 5px 15px;
    color: #fff;
    border-radius: 20px;
    border: solid 2px #FFF;
}

/* Page - Login */

#page-login {
    .bigBg {
        @media(min-width: $medium){
            min-height: 700px;
        }
    }
}

#yeahMsg {
    display: none;
    background: #ddffe1;
    position: absolute;
    top: 80px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    width: 280px;
    border-radius: 3px;
    border: solid 3px #b3dcb8;
    text-align: center;
    padding: 5px;
    p {
        margin: 5px 0px;
        font-size: 20px;
        color: #1f651f;
    }
    &.slideup {
        display: inline-block !important;
        position: fixed;
        box-shadow: 0px 0px 65px #00000036;
    }
}

.error_msg {
    background: #ffebeb;
    border: solid 3px #ffaaaa;
}

/* PAGE CLAIM */

#page-claim {
    .searchBox {
        width: 100%;
        margin-top: 20px;
        max-width: 800px;
        input {
            margin-bottom: 0px;
            width: 100%;
        }
        @media(min-width: $small){
            width: 90%;
            margin-top: 40px;
        }
        & + p {
            margin-top: 10px;
            color: #fff;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .panel { 
        margin-bottom: 30px;
        padding: 10px;
        h2 {
            font-size: 22px;
            margin-top: 0px;
            white-space: pre;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            font-size: 18px;
        }
        address {
            font-size: 16px;
            height: 55px;
        }
        .btn {
            width: 100%;
            font-size: 18px;
            padding: 5px;
        }
        @media(min-width: $small){
            padding: 25px;
        }
    }
}

#page-addlisting {
    .YeahAutocomplete_list {
        margin-top: 39px;
    }
    .form {
        h2 {
            margin-top: 0px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        border: none;
        box-shadow: none;
        & + label {
            width: auto;
            margin-left: 15px;
            vertical-align: middle;
        }
    }
    button {
        width: 100%;
    }
}

#services {
    li {
        display: inline-block;
        background: #ececec;
        font-size: 16px;
        color: #18394e;
        margin-right: 10px;
        span {
            padding: 5px 10px;
            display: inline-block;
        }
        .icon-cross {
            background-color: #d2d2d2;
            background-size: 18px;
            width: 32px;
            height: 32px;
            display: inline-block;
            vertical-align: bottom;
            cursor: pointer;
            &:hover {
                background-color: #ddd;
            }
        }
    }
}

.open_col,
.close_col {
    width: 15%;
}

.open_col.pad,
.close_col.pad {
    padding: 0px 0px 10px 5px;
    text-align: left;
}

.thlabel {
    width: 70%;
    text-align: left;
    padding-left: 15px;
}

/* Page Add Listing */

#page-addlisting {
    .galleryBox li {
        margin-right: 1%;
    }
}

#gallery {
    margin-bottom: 30px;
}